*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
    position: relative;
}

#page1{
    width: 100%;
    height: 100vh;
    padding-top: 0.1px;
    /* background-color: rgb(255, 241, 241); */
    position: relative;
}
#p1-nav{
    height: 20px;

    width: 100%;
    text-align: right;
    position: fixed;
    z-index: 9999;
}
#p1-nav a{
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 12px;
    color: black;
    mix-blend-mode:hue;
}

.scroller1{
    width: 100%;
    height: 200px;
    /* background-color: red; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    /* padding: 8px 0px; */
    /* margin-top: 10px; */
}
#page1 .scroller1:nth-child(2){
    margin-top: 15px;

}
#page1 .scroller1:nth-child(3) .scroll{
    /* background-color: yellow; */
    animation-name: scrollll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-direction: reverse;
}
.scroller1::-webkit-scrollbar{
    display: none;
}
.scroller1 .scroll {
    height: 100%;
    display: inline-block;
    animation-name: scrollll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: 8px 0px;
}
.scroll .scroll-div{
    width: 300px ;
    height: 100%;
    display: inline-block;
    margin-right: 20px;

}
.scroll-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;

}
@keyframes scrollll {
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-100%);
    }
    
}
#p1-nav2{
    width: 100%;
    height: 20px;
    /* background-color: red; */
    overflow-y: hidden;
}
#p1-nav2 .nav2p1{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    animation-name: top;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}
.nav2p1 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
@keyframes top {
    0%{
        transform: translateY(0%)
    }
    100%{
        transform: translateY(-100%)
    }
    
}
#page1 h1{
    white-space: nowrap;
    font-size: 10vw;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    animation-name: scrollll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
#h1-div{
    width: 100%;
    height: 250px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0% ,-50%);
    display: flex;
    align-items: center;
    overflow: hidden;

}
#page2{
    width: 100%;
    height: 140vh;
    padding: 0px 200px;
    position: relative;
    /* background-color: red; */
}
#page2 h1{
    text-transform: uppercase;
    color: orangered;
    font-weight: 900;
    /* margin-top: 10px; */
    /* background-color: aqua; */
    font-size: 450px;
    line-height: 330px
}
#page2 h2{
    position: absolute;
    top: 15%;
    left: 40%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7vw;
    line-height: 7vw;
    /* background-color: green; */
}
#page2 p{
    width: 500px;
    /* background-color: red; */
    margin-top: 40px;
    color: gray;
}
#page3{
    width: 100%;
    height: 140vh;
    /* background-color: red; */
    position: relative;
    transition: all ease 0.4s;
    padding: 0.1px;
}
#page3 h1{
    text-transform: uppercase;
    color: orangered;
    font-weight: 900;
    /* margin-top: 10px; */
    /* background-color: aqua; */
    font-size: 450px;
    line-height: 330px;
    text-align: center;
    margin-top: 50px;
}
#page3 h2{
    position: absolute;
    top: 15%;
    left: 10%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7vw;
    line-height: 7vw;
    /* background-color: green; */
}
#page3:hover h2{
    color: white;
}
#page3:hover {
    background-color: black;
    
} 

#page3 p{
    width: 500px;
    /* background-color: red; */
    margin-top: 40px;
    color: gray;

    margin-left: 50%;
}
#page3 #p1-nav2 {
    margin-top: 25px;
}
#page3:hover a{
    color: white;
}
#page3:hover h4{
    color: white;
}
#page4{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1512005286309-e5b890ca36b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#page4 h1{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 200;
}
#page5{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1519033318516-7cf2b0e8f49a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#page5 h1{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 200;
}
#page6{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1465145498025-928c7a71cab9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#page6 h1{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 200;
}
#page7{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1617145399253-05d548e46e0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#page7 h1{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 200;
}
#page8{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1433888104365-77d8043c9615?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#page8 h1{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 200;
}
#page9{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1508655382032-b95191fa1b51?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#page9 h1{
    color: white;
    font-size: 100px;
    font-family: fantasy;
    font-weight: 200;
    mix-blend-mode: difference;
}
#page10{
    width: 100%;
    height: 180vh;
    padding: 0px 200px;
    position: relative;
    /* background-color: red; */
}
#page10 h1{
    text-transform: uppercase;
    color: orangered;
    font-weight: 900;
    /* margin-top: 10px; */
    /* background-color: aqua; */
    font-size: 450px;
    line-height: 330px
}
#page10 h2{
    position: absolute;
    top: 40%;
    left: 10%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7vw;
    line-height: 7vw;
    /* background-color: green; */
}
#page10 p{
    width: 500px;
    /* background-color: red; */
    margin-top: 40px;
    color: gray;
    margin-left: 50%;
}
#page11{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1587057834066-133c30e00fb5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
#page11 h1{
    color: orangered;
    font-size: 100px;
    line-height: 90px;
    font-family: fantasy;
    font-weight: 100;
}
#page11 p{
    width: 500px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}
#good{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: red;

}
#good::-webkit-scrollbar{
    display: none;
}
#good h1{
    display: inline-block;
    font-size: 150px;
    /* font-weight: 700; */
    font-weight: 100;
    /* letter-spacing:-8px; */
    animation-name: onlyh1;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    font-family: fantasy;
}
@keyframes onlyh1 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}